/* Celkový reset stylů */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Černé pozadí pro zbytek stránky */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Flux_Dev_A_mystical_emblem_representing_the_ancient_civilizati_0.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Vodoznak pokryje celou stránku */
    background-attachment: fixed;
    z-index: 1; /* Udržuje vodoznak pod textem */
}

.content {
    position: relative; /* Umístí text nad vodoznak */
    text-align: center;
    color: white;
    z-index: 10; /* Zajistí, že text bude viditelný nad vodoznakem */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px


  
